.logincontainer {
    width: 394px;
    display: flex;
    flex-direction: column;
}

.logincontainer>label:focus,
.logincontainer>label:valid {
    display: none;
}

.req {
    color: #f38688;
}

.prob {
    font-style: italic;
    font-weight: 500;
    color: #f38688;
}

@media only screen and (max-width:500px) {

    .logincontainer {
        width: 330px;
    }

    .mfacontainer {
        width: 380px;
    }

    .unknowncontainer {
        width: 360px;
    }

    .tokencont {
        width: 85vw !important;
    }

    .tokencont>input {
        width: 75vw !important;
        margin-left: 0px;
    }
}

.invis {
    display: none !important;
}

iframe {
    height: 78px;
    width: 303px;
    margin-top: 50px;
    overflow: hidden;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

.mfacontainer {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.unknowncontainer {
    width: 420px;
}

.unknowntext {
    font-weight: 500;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 7px;
}

.tokencontainer {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tokencont>input {
    width: 100%;
}

.tokencontainer>h4 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.tokencont {
    display: flex;
    align-items: center;
    width: 100%;
}

.tokencont>.button {
    width: 79px;
    margin: 0;
    padding: 10px;
}